<!DOCTYPE html>
<html>
    <head>
        <title>Fruiting Room Environment Monitor</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 767px)" href="{{ url_for('static', filename='css/index_mobile.css') }}">
        <link rel="stylesheet" type="text/css" media="screen and (min-width: 768px) and (max-width: 1199px)" href="{{ url_for('static', filename='css/index_tablet.css') }}">
        <link rel="stylesheet" type="text/css" media="screen and (min-width: 1200px)" href="{{ url_for('static', filename='css/index_desktop.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ url_for('static', filename='images/safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <div class="logo mt-3 mb-3">
            <img class="logo-image w-100" src="{{ url_for('static', filename='images/northside-cultivation-logo.svg') }}" alt="Northside Cultivation Logo">
        </div>
        <div class="realtime-feed">
            <div class="feed-title text-center fs-1">
                <div>Realtime Data Feed</div>
            </div>
            <div class="feed-content d-flex flex-wrap align-content-center mx-auto">
                <div class="time-block text-center fs-5 mt-3">
                    <div id="realtime-time-label">Time Collected</div>
                    <div id="realtime-time">{{ rt_time }}</div>
                </div>
                <div class="temperature-block text-center fs-5 mt-3">
                    <div id="realtime-temperature">Temperature</div>
                    <div id="realtime-temperature">{{ rt_temperature }}°F</div>
                </div>
                <div class="humidity-block text-center fs-5 mt-3">
                    <div id="realtime-humidity">Relative Humidity</div>
                    <div id="realtime-humidity">{{ rt_humidity }}%</div>
                </div>
                <div class="co2-block text-center fs-5 mt-3">
                    <div id="realtime-co2">CO2 Level</div>
                    <div id="realtime-co2">{{ rt_co2_level }} PPM</div>
                </div>
            </div>
        </div>
        <div class="chart-section w-100">
            <div id="data-log" class="data-log"></div>
        </div>
    </body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap/bootstrap.js') }}"></script>
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        let graphs = {{ graph_JSON | safe }};
        Plotly.plot('data-log', graphs, {});
    </script>
</html>
